
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  font-weight:bold;
  width: 100%;
}
tr.mat-row {
  height: 48px;
  background-color: unset;
}
.disabled{
opacity: 0.5;
  pointer-events: none;
}
.hidden{
  display:none;
}
